{% extends 'base.html.twig' %}

{% block title %}
    not found
{% endblock %}

{% block body %}
    <div class="container margin-top">
        <div class="row">
            <p>Page rechercher n'existe pas!</p>
        </div>
    </div>
{% endblock %}
