{% extends 'base.html.twig' %}

{% block title %}
   Contactez nous
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
                <div>
                    <label>Nom :</label>
                    <input type="text" class="" name="nom"> 
                </div>
                <div>
                    <label>E-mail :</label>
                    <input type="text" class="" name="mail"> 
                </div>
                {{ form_rest(form) }}
                <div class="right">
                    <button class="btn-large" type="submit">Envoyer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
