{% extends 'base.html.twig' %}

{% block title %}
    Contenu
{% endblock %}


{% block body %}
    <div class="row ">
        <nav>
            <div class="nav-wrapper brown lighten-3">
               <div class="container">
                    <div class="col s12">
                      <a href="/Administration" class="breadcrumb">Administration</a>
                      <a href="/articleList" class="breadcrumb">Articles</a>
                      <a href="/newArtcile" class="breadcrumb">Nouveau article</a>
                    </div>
               </div>
            </div>
        </nav>
        <div class="col l12 col m12 col s12 col xs12 margin-top">
            <div class="container">
                <h5><center>Nouveau article</center></h5>
                <fieldset>
                    <form method="post" enctype="multipart/form-data">
                         {{ form_widget(form) }}
                        <div class="input-field">
                             {%if article is defined and article is not null%}
                                 <input type="text" class="datepicker" name="date_sortie" lang="FR" value="{{article.date_sortie|date('j F, Y')}}">
                             {%else%}
                                 <input type="text" class="datepicker" name="date_sortie" lang="FR">
                             {%endif%}
                             <label for="date_sortie">Date de sortie </label>
                        </div>
                        <div class="file-field input-field">
                            <div class="btn">
                              <span>File</span>
                              <input type="file" name="image">
                            </div>
                            {%if article is defined and article is not null%}
                                <div class="file-path-wrapper">
                                    <img width="150" height="100" src='../ressource/article/{{article.image}}'>
                                </div>
                             {%else%}
                                <div class="file-path-wrapper">
                                  <input class="file-path validate" type="text">
                                </div>
                            {% endif %}
                        </div>
                        <div class="right">
                             <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                                <i class="material-icons right">send</i>
                              </button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
